.AllData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cards_AllData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 17px 20px;
}

.cards_AllData img {
  border-top-right-radius: 20px;
  width: 260px;
  border-top-left-radius: 20px;
  height: 208px;
  object-fit: contain;
}

.data_Card_AllData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 0px;
  border-radius: 10px;
  background-color: #273c75;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.data_Card_AllData h3 {
  color: white;
  font-size: 23px;
  font-family: sans-serif;
}
.data_Card_AllData a {
  text-decoration: none;
  background-color: #4cd137;
  padding: 5px 30px;
  border-radius: 7px;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  margin: 5px 0px;
}
