@import "../mixins";
@import "../variables";

.Navbar {
  width: 100%;
  @include flexProperty;
  justify-content: space-around;
  flex-direction: row;
  background-color: #ffffffd6;
  box-shadow: none;
  backdrop-filter: blur(2px);
  border-bottom: 1px solid $BORDER_BOTTOM;

  .logoCont {
    @include flexProperty;
    .title {
      font-family: $TITLE;
      color: $BTN_BLACK;
      font-size: 2rem;
      margin-left: 10px;
    }
  }

  .btns {
    border: 1px solid $BTN_BLACK;
    color: $BTN_BLACK;
    border-radius: 4px;
    margin: 0px 10px;
    text-transform: capitalize;
  }
}
